@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @AppResources.About
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/about">About</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">@GlutConstants.ApplicationName</h3>
        </div>
        <div class="box-body">
            @AppResources.Version @GlutConstants.GlutVersion
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            &copy; @DateTime.Now.Year - @AppResources.AllRights
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->