@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_dashboardLayout";
}
@inject IDataStoreSvr DataStore
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Blank page
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
    </ol>
</section>



<!-- Main content -->
<section class="content">

    @*@await Html.PartialAsync("_projectFilter")*@

    <div class="row">
        <div class="col-lg-12">
            <partial name="_statusCodeHeader" model="null" />
        </div>
    </div>

    <div class="row bg-gray-light">
        <div class="col-lg-12">
            <partial name="_projectFilter" model="Model.Projects" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <partial name="_statusCodeLineChart" model="null" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_statusCodePie" model="null" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_statusCodePie" model="null" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <partial name="_topSuccessRequests" model="null" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_topFastestSuccessRequests" model="null" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_topSuccessRequests" model="null" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_topFastestSuccessRequests" model="null" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>

    <!-- /.row -->

</section>
<!-- /.content -->


@section Scripts
{
    <script>

        function getVerificationToken() {
            
            var token = $('input[name="__RequestVerificationToken"]').val();
            return token;
        }

        function headerStatusCodes() {
            var formData = { __RequestVerificationToken: getVerificationToken() };

            $.post('/dashboard/headerStatusCodes/glut/1', formData, function (data, textStatus) {

                $("#totalHeader").html(numeral(data.totalRequests).format('0,0'));
                $("#informationHeader").html(numeral(data.information).format('0.00'));
                $("#successfulHeader").html(numeral(data.successful).format('0.00'));
                $("#redirectionHeader").html(numeral(data.redirection).format('0.00'));
                $("#clientErrorHeader").html(numeral(data.clientError).format('0.00'));
                $("#serverErrorHeader").html(numeral(data.serverError).format('0.00'));

            }, "json");
        }

        function statusCodePie()
        {
            var dataPoints = [];

            var options =
            {
                responsive: true,
                legend:
                {
                    position: 'right',
                },
                title:
                {
                    display: true,
                    text: 'Status Codes'
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            var ctx = $("#statusCodePie");
            var pieChart = new Chart(ctx,
                {
                    type: 'pie',
                    data: dataPoints,
                    options: options
                });

            var formData = { __RequestVerificationToken: getVerificationToken() };

            $.post('/dashboard/statusCodePie/glut/1', formData, function (data, textStatus) {
                pieChart.data = data;
                pieChart.update();

            }, "json");
        }
       
       function statusCodeLines()  {

             var options =
            {
                responsive: true,
                title:
                {
                    display: true,
                    text: 'Status Code Lines'
                },
                legend:
                {
                    position: 'top',
                },
                scales:
                {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Duration(s)'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Requests(s)'
                        }
                    }]
                },
                tooltips: {
                    intersect: false,
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, myData) {
                            var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += parseFloat(tooltipItem.value).toFixed(2);
                            return label;
                        }
                    }
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            //-------------------------------------------------------------------------------- Chart1

            var dataPoints =
            {
                labels: [],
                datasets: [{
                    data: [],
                    label: '@AppResources.TotalRequests',
                    borderColor: '@StatusCodeColour.TotalRequests',
                    fill: false,
					lineTension: 0
                },
                {
                    data: [],
                    label: '@AppResources.Information',
                    borderColor: '@StatusCodeColour.Information',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Successful',
                    borderColor: '@StatusCodeColour.Successful',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Redirection',
                    borderColor: '@StatusCodeColour.Redirection',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ClientError',
                    borderColor: '@StatusCodeColour.ClientError',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ServerError',
                    borderColor: '@StatusCodeColour.ServerError',
                    fill: false,
					lineTension: 0
                }]
            };

            var ctx1 = $("#statusCodeLines");
            var chart1 = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataPoints,
                    options: options
                });

            var formData = { __RequestVerificationToken: getVerificationToken() };

            $.post('/dashboard/statusCodeLines/glut/1', formData, function (data, textStatus) {
                chart1.data = data;
                chart1.update();

            }, "json");
        }


        $(function ()
        {
            headerStatusCodes();
            statusCodePie();
            statusCodeLines();

        });
    </script>
}