@page
@model IndexModel
@{
    ViewData[GlutWebConstants.Title] = AppResources.Home;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @AppResources.Home
        <small>@AppResources.DashboardDescription</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-page="/"><i class="fa fa-dashboard"></i>@AppResources.Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-12">
            <partial name="_statusCodeHeaderBox" />
        </div>
    </div>

    <div class="row bg-gray-light">
        <div class="col-lg-12">
            <partial name="_projectFilter" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <partial name="_statusCodeLineChartBox" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <partial name="_totalRequestPerRunLineChartBox" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_runAttributeBox" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_statusCodePieBox" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <partial name="_topSuccessfulRequests" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_topErrorRequests" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_topFastestMinMaxAvgSuccessRequestBox" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_topSlowestMinMaxAvgSuccessRequestBox" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <partial name="_topAverageMinMaxAvgSuccessRequestBox" />
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <partial name="_topLargestSuccessfulRequestBox" />
        </div>
        <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->

@section Scripts
{
    <script>

        function getVerificationToken()
        {
            var token = $('input[name="__RequestVerificationToken"]').val();
            return token;
        }

        function headerStatusCodes(project, run)
        {
            var url = ['/dashboard/headerStatusCodes', project, run].join('/');
            var formData = { __RequestVerificationToken: getVerificationToken() };

            $.post(url, formData, function (data)
            {
                $("#totalHeader").html(numeral(data.totalRequests).format('@GlutWebConstants.ThouandsNumberFormat'));
                $("#informationHeader").html(numeral(data.information).format('@GlutWebConstants.DecimalsNumberFormat'));
                $("#successfulHeader").html(numeral(data.successful).format('@GlutWebConstants.DecimalsNumberFormat'));
                $("#redirectionHeader").html(numeral(data.redirection).format('@GlutWebConstants.DecimalsNumberFormat'));
                $("#clientErrorHeader").html(numeral(data.clientError).format('@GlutWebConstants.DecimalsNumberFormat'));
                $("#serverErrorHeader").html(numeral(data.serverError).format('@GlutWebConstants.DecimalsNumberFormat'));

            }, "json");
        }

        function statusCodeLines(project, run)
        {
            var url = ['/dashboard/statusCodeLines', project, run].join('/');

            var options =
            {
                responsive: true,
                title:
                {
                    display: true,
                     text: '@AppResources.StatusCodes'
                },
                legend:
                {
                    position: 'top',
                 },
                ymin: 0,
                scales:
                {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '@AppResources.DurationSeconds'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '@AppResources.Hits'
                        }
                    }]
                },
                tooltips: {
                    intersect: false,
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, myData) {
                            var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += parseFloat(tooltipItem.value).toFixed(2);
                            return label;
                        }
                    }
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            //-------------------------------------------------------------------------------- Chart1

            var dataPoints =
            {
                labels: [],
                datasets: [{
                    data: [],
                    label: '@AppResources.TotalRequests',
                    borderColor: '@StatusCodeHelper.TotalRequests',
                    fill: false,
					lineTension: 0
                },
                {
                    data: [],
                    label: '@AppResources.Information',
                    borderColor: '@StatusCodeHelper.Information',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Successful',
                    borderColor: '@StatusCodeHelper.Successful',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Redirection',
                    borderColor: '@StatusCodeHelper.Redirection',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ClientError',
                    borderColor: '@StatusCodeHelper.ClientError',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ServerError',
                    borderColor: '@StatusCodeHelper.ServerError',
                    fill: false,
					lineTension: 0
                }]
            };

            var ctx1 = $("#_statusCodeLineChartBox");
            var chart1 = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataPoints,
                    options: options
                });

            var formData = { __RequestVerificationToken: getVerificationToken() };

           $.post(url, formData, function (data)
           {
               dataPoints.labels = data.labels;
               dataPoints.datasets[0].data = data.totalRequests;
               dataPoints.datasets[1].data = data.information;
               dataPoints.datasets[2].data = data.successful;
               dataPoints.datasets[3].data = data.redirection;
               dataPoints.datasets[4].data = data.clientError;
               dataPoints.datasets[5].data = data.serverError;

                chart1.update();

            }, "json");
        }

        function totalRequestsPerRun(project)
        {
             var options =
            {
                responsive: true,
                title:
                {
                    display: true,
                    text: '@AppResources.StatusCodes'
                },
                legend:
                {
                    position: 'top',
                 },
                ymin: 0,
                scales:
                {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '@AppResources.DurationSeconds'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: '@AppResources.Hits'
                        }
                    }]
                },
                tooltips: {
                    intersect: false,
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, myData) {
                            var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                            if (label) {
                                label += ': ';
                            }
                            label += parseFloat(tooltipItem.value).toFixed(2);
                            return label;
                        }
                    }
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            //-------------------------------------------------------------------------------- Chart1

            var dataPoints =
            {
                labels: [],
                datasets: [{
                    data: [],
                    label: '@AppResources.TotalRequests',
                    borderColor: '@StatusCodeHelper.TotalRequests',
                    fill: false,
					lineTension: 0
                },
                {
                    data: [],
                    label: '@AppResources.Information',
                    borderColor: '@StatusCodeHelper.Information',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Successful',
                    borderColor: '@StatusCodeHelper.Successful',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.Redirection',
                    borderColor: '@StatusCodeHelper.Redirection',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ClientError',
                    borderColor: '@StatusCodeHelper.ClientError',
                    fill: false,
					lineTension: 0
                    },
                {
                    data: [],
                    label: '@AppResources.ServerError',
                    borderColor: '@StatusCodeHelper.ServerError',
                    fill: false,
					lineTension: 0
                }]
            };

            var ctx1 = $("#_totalRequestPerRunLineChartBox");
            var chart1 = new Chart(ctx1,
                {
                    type: 'line',
                    data: dataPoints,
                    options: options
                });

             var formData = { __RequestVerificationToken: getVerificationToken() };

              var url = ['/dashboard/totalRequestsPerRunLineBox', project].join('/');

           $.post(url, formData, function (data)
           {
               dataPoints.labels = data.labels;
               dataPoints.datasets[0].data = data.totalRequests;
               dataPoints.datasets[1].data = data.information;
               dataPoints.datasets[2].data = data.successful;
               dataPoints.datasets[3].data = data.redirection;
               dataPoints.datasets[4].data = data.clientError;
               dataPoints.datasets[5].data = data.serverError;

                chart1.update();

            }, "json");
        }

        function onRunAttributeBox(project, run)
        {
            var url = ['/dashboard/runAttributeBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ key, value}) => `
                <tr>
                    <td>${key}</td>
                    <td>${value}</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_runAttributeBox'), template, data);
            }, "json");
        }

        function statusCodePie(project, run)
        {
            var url = ['/dashboard/statusCodePie', project, run].join('/');
            var dataPoints = [];

            var options =
            {
                responsive: true,
                legend:
                {
                    position: 'right',
                },
                title:
                {
                    display: true,
                    text: '@AppResources.StatusCodes'
                },
                animation:
                {
                    animateScale: true,
                    animateRotate: true
                }
            };

            var ctx = $("#_statusCodePieBox");
            var pieChart = new Chart(ctx,
                {
                    type: 'pie',
                    data: dataPoints,
                    options: options
                });

            var formData = { __RequestVerificationToken: getVerificationToken() };

            $.post(url, formData, function (data) {
                pieChart.data = data;
                pieChart.update();

            }, "json");
        }

        function onTopSuccessfulRequestBox(project, run)
        {
            var url = ['/dashboard/topSuccessfulRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, count, frequency }) => `
                <tr>
                    <td>${url}</td>
                    <td>${numeral(count).format('@GlutWebConstants.ThouandsNumberFormat')}</td>
                    <td>${numeral(frequency).format('@GlutWebConstants.DecimalsNumberFormat')}%</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topSuccessfulRequests'), template, data);
            }, "json");
        }

        function onTopErrorRequestBox(project, run)
        {
            var url = ['/dashboard/topErrorRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, count, frequency }) => `
                <tr>
                    <td>${url}</td>
                     <td>${numeral(count).format('@GlutWebConstants.ThouandsNumberFormat')}</td>
                    <td>${numeral(frequency).format('@GlutWebConstants.DecimalsNumberFormat')}%</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topErrorRequests'), template, data);
            }, "json");
        }

        function onTopFastestMinMaxAvgSuccessfulRequestBox(project, run)
        {
            var url = ['/dashboard/topMinMaxAvgSuccessfulRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, min, max, avg }) => `
                <tr>
                    <td>${url}</td>
                    <td>${moment(min).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(max).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(avg).format('@GlutWebConstants.SecMilFormat')}</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topFastestMinMaxAvgSuccessRequestBox'), template, data);
            }, "json");
        }

        function onTopSlowestMinMaxAvgSuccessfulRequestBox(project, run)
        {
            var url = ['/dashboard/topSlowestMinMaxAvgSuccessfulRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, min, max, avg }) => `
                <tr>
                    <td>${url}</td>
                    <td>${moment(min).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(max).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(avg).format('@GlutWebConstants.SecMilFormat')}</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topSlowestMinMaxAvgSuccessRequestBox'), template, data);
            }, "json");
        }

        function onTopAverageMinMaxAvgSuccessRequestBox(project, run)
        {
            var url = ['/dashboard/topAverageMinMaxAvgSuccessRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, min, max, avg }) => `
                <tr>
                    <td>${url}</td>
                    <td>${moment(min).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(max).format('@GlutWebConstants.SecMilFormat')}</td>
                    <td>${moment(avg).format('@GlutWebConstants.SecMilFormat')}</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topAverageMinMaxAvgSuccessRequestBox'), template, data);
            }, "json");
        }

        function onTopLargestSuccessfulRequestBox(project, run)
        {
            var url = ['/dashboard/topLargestSuccessfulRequestBox', project, run].join('/');

            var formData = { __RequestVerificationToken: getVerificationToken() };

            const template = ({ url, length, percent }) => `
                <tr>
                    <td>${url}</td>
                    <td>${moment(length).format('@GlutWebConstants.DecimalsNumberFormat')}bB</td>
                    <td>${numeral(percent).format('@GlutWebConstants.DecimalsNumberFormat')}%</td>
                </tr>`;

            $.post(url, formData, function (data)
            {
                onApplyTemplate($('#_topLargestSuccessfulRequestBox'), template, data);
            }, "json");
        }

        function onApplyTemplate(destination, template, data)
        {
            destination.html(data.map(template).join(''));
        }

        function onRunChange()
        {
            var p = $("#projects").val();
            var r = $("#runs").val();

            headerStatusCodes(p, r);

            statusCodeLines(p, r);
            totalRequestsPerRun(p);

            onRunAttributeBox(p, r);
            statusCodePie(p, r);

            onTopSuccessfulRequestBox(p, r);
            onTopErrorRequestBox(p, r);
            onTopFastestMinMaxAvgSuccessfulRequestBox(p, r);
            onTopSlowestMinMaxAvgSuccessfulRequestBox(p, r);
            onTopAverageMinMaxAvgSuccessRequestBox(p, r);
            onTopLargestSuccessfulRequestBox(p, r);
        }

        $(function ()
        {
            $("#projects").change(function ()
            {
                onFetchRuns();
            });

            $("#runs").change(function ()
            {
                onRunChange();
            });

            onFetchProjects();
        });
    </script>
}