@page
@model ProjectsModel
@{
    ViewData[ViewConstants.Title] = Model.Title;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @AppResources.Projects
        <small>@AppResources.ProjectsDescription</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-page="/"><i class="fa fa-dashboard"></i>@AppResources.Home</a></li>
        <li class="active">@AppResources.Projects</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@AppResources.Projects</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@AppResources.ProjectName</th>
                                <th>@AppResources.Runs</th>
                                <th>@AppResources.LastChangeDateTime</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tfoot>
                            <tr>
                                <th>@AppResources.ProjectName</th>
                                <th>@AppResources.Runs</th>
                                <th>@AppResources.LastChangeDateTime</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#table tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" style="width: 100%" placeholder="Search ' + title + '" />');
            });
            var table = $('#table').DataTable({
                autoWidth: false,
                processing: true,
                serverSide: true,
                order: [[2, "desc"]],
                pageLength: 10,
                ajax: {
                    url: '/Projects?handler=GeoLocation',
                    type: 'POST',
                    beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                columnDefs: [
                    { targets: 0, data: 'Name' },
                    { targets: 1, data: 'Position' },
                    { targets: 2, data: 'Office.Name' },
                    {
                        targets: 3, data: 'Office.Address.Street',
                        render: function (street, type, person, meta) { return person.Office.Address.Street + ", " + person.Office.Address.Building; }
                    },
                    { targets: 4, data: 'Extn' },
                    {
                        targets: 5, data: 'StartDate',
                        render: function (data) { return Date.parse(data).toString('MMMM dd, yyyy'); }
                    },
                    {
                        targets: 6, data: 'Salary'
                    },
                ]
            });
            // Apply the search
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
            //hljs.initHighlightingOnLoad();
        });
    </script>
}
