@model IDictionary<string, decimal>


<div class="box-body">
    <div class="row">
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-light-blue">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.TotalRequests</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.Information</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.Successful</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.Redirection</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.ClientError</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-sm-4 col-md-2">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>10000</h3>
                    <p>@AppResources.ServerError</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->

    </div>
    <!-- /.row -->
</div>

<script>


</script>