@inject IDataStoreSvr DataStore

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">@AppResources.TopSuccessfulRequests</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>@AppResources.Url</th>
                        <th>@AppResources.Count</th>
                        <th>@AppResources.Frequency</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in await DataStore.GetTopSuccessRequests("Glut", 1))
                    {
                        <tr>
                            <td>@item.Url</td>
                            <td>@item.Count</td>
                            <td>
                                <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>